.p{
    font-family:unset;
    color:#234bb8
}
.cameleon{
    background-color: #ce8250fa;
    color:#ffffff
    
}
.camel{
    background-color:#834a1be8;
    color:#ffffff
}
.pigeon{
   background-color:#ce8250fa ;
   color:#ffffff
}
.teddy{
    background-color:#834a1be8;
    color:#ffffff
}
.panda{
    background-color:#ce8250fa ;
    color:#ffffff
}
.cicada{
    background-color:#834a1be8;
    color:#ffffff
}
.h3{
    color :#79382d;
    font-family : Calibri;
    font-size :  1000px;
}
